.checkoutProduct {
    display:flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct_info {
    padding: 20px;
}

.checkoutProduct_info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct_info > button:hover{
    transform: scale(0.98);
    transition-duration: 1s;
}

.checkoutProduct_image {
    object-fit: contain;
    max-width: 100%;
    width: 100px;
    height: 180px;
}

.checkoutProduct_image:hover{
    transform: scale(1.2);
    transition-duration: 1s;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}

.checkoutProduct_rating {
    display: flex;
}

.checkoutProduct_title {
    font-size: 17px;
    font-weight: 800;
}